streamlit==1.32.0
altair==4.2.2
pandas==2.2.2
numpy==1.26.4
pydeck==0.8.1b0
pillow==10.2.0
requests==2.31.0
openpyxl==3.1.2
python-dateutil==2.9.0.post0
protobuf==4.25.3
gitpython==3.1.42
watchdog==4.0.0
